# maven ignore

target/
*.jar
!.mvn/wrapper/*
*.war
*.zip
*.tar
*.tar.gz
*-ontest.properties
*-online.properties

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
logs/
*.logs

# system ignore
.DS_Store
Thumbs.db
*.orig

# flatten ignore
.flattened-pom.xml
