<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
  
	<!--<context:property-placeholder location="classpath:conf-dubbo.properties" ignore-unresolvable="true" />-->
	
	<dubbo:application name="dev-dubbo-service" owner="tomsnail" organization="tomsnail" />
	
	<dubbo:registry address="zookeeper://192.168.169.150:2181" />
	
    <dubbo:protocol name="dubbo" serialization="dubbo" port="20881"/>
	
	<dubbo:service interface="cn.tomsnail.dubbo.service.TestService" ref="TestService"  version="0.0.1"/>
	<bean id="TestService" class="cn.tomsnail.dubbo.service.TestServiceImpl"></bean>
	
	<dubbo:reference interface="cn.tomsnail.dubbo.service.TestService" id="TestServiceClient" version="0.0.1"/>

	
	
</beans>