<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/jdbc
    http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
    http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task.xsd
    http://www.springframework.org/schema/cache
    http://www.springframework.org/schema/cache/spring-cache.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd">
   	<!-- spring扫描注解类路径 -->
   	<context:component-scan base-package="cn.tomsnail.log"/>
    <aop:aspectj-autoproxy proxy-target-class="true" /> 
    
    
   	<!-- 设置动作启用定时任务 -->
   	<task:annotation-driven /> 
   	
   	<!-- 开启缓存 -->
   	<context:component-scan base-package="cn.tomsnail.redis.spring"/>
   	
	<!-- 开启ElasticJob -->
   	<bean id="SpringElasticJobBeanPostProcessor" class="cn.tomsnail.task.elastic.job.SpringElasticJobBeanPostProcessor"></bean>
 
    <!-- 添加用户附加信息 -->
    <bean class="cn.tomsnail.http.filter.AdditionalFilter"></bean>
  
     <!-- 添加批量插入 -->
    <context:component-scan base-package="cn.tomsnail.batch.insert.util"></context:component-scan>
    
    
    <!-- spring 配置扫描 ${}-->
	<context:component-scan base-package="cn.tomsnail.config.client.plugin"/>
	<!-- 静态类配置加载注解扫描 注解ConfigListener -->
	<context:component-scan base-package="cn.tomsnail.config.client.spring"/>
	<!-- 静态类扫描  各项目自定义 -->
	<context:component-scan base-package="cn.tomsnail.config.client.annotation"/>
    <!-- spring xml配置 -->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
    		<property name="converters">
      			<list>
        			<bean class="cn.tomsnail.config.client.plugin.StringSpringConverter" />
        			<bean class="cn.tomsnail.config.client.plugin.IntegerSpringConverter" />
        			<bean class="cn.tomsnail.config.client.plugin.LongSpringConverter" />
        			<bean class="cn.tomsnail.config.client.plugin.BooleanSpringConverter" />
      			</list>
    		</property>
  	</bean>
  	
  	<!-- 开启热加载配置 -->
  	<context:component-scan base-package="cn.tomsnail.hot.load.spring"/>
    

</beans>
