<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="10">  
  
    <properties>  
        <property name="LOG_HOME">./logs</property>
        <property name="FILE_NAME">info.log</property>
    </properties>  
  
    <Appenders>  
        <!-- 控制台日志输出 -->  
        <Console name="Console" target="SYSTEM_OUT">  
            <PatternLayout pattern="[%-5p] %d %c - %m%n" />  
        </Console>  
        <!-- 循环文件日志输出 -->  
        <RollingRandomAccessFile name="running-log"  
            fileName="${LOG_HOME}/${FILE_NAME}.log" filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log.gz">  
            <PatternLayout  
                pattern="[%-5p] %d %c - %m%n" />  
            <Policies>  
                <TimeBasedTriggeringPolicy />  
                <SizeBasedTriggeringPolicy size="60 MB" />  
            </Policies>  
            <DefaultRolloverStrategy max="20" />  
        </RollingRandomAccessFile>
    </Appenders>  
      
    <Loggers>  
        <Root level="debug">
            <AppenderRef ref="Console" />  
            <AppenderRef ref="running-log" />
        </Root>  
    </Loggers>  
    
</Configuration>