<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO" monitorInterval="30" packages="cn.tomsnail.log.ls">
    <appenders>
        <!--这个输出控制台的配置-->
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5p] {%F:%L} - %m%n"/>
        </console>

        <!-- 这个就是自定义的Appender
        <FileAppender name="File">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5p] {%F:%L} - %m%n" />
        </FileAppender> -->

    </appenders>

    <loggers>
        <root level="all">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>