<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


	<!-- 日志记录插件，须开启动态代理 -->
	<context:component-scan base-package="cn.tomsnail.snail.core.log"/>
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	<!-- spring 属性配置插件，用于spring相关属性(如${zk.address})从config.properties中获取值 -->
	<context:component-scan base-package="cn.tomsnail.snail.core.config.client.plugin"/>
	<!-- 异步线程 池,用于开启spring定时任务和异步调用 -->
	<context:component-scan base-package="cn.tomsnail.snail.core.service.spring.core.async"></context:component-scan>

	<context:component-scan base-package="cn.tomsnail.snail.e3.task.elastic.job"></context:component-scan>
	
	<context:component-scan base-package="cn.tomsnail.snail.example.e3.task.elastic.job"></context:component-scan>
	
	
	
  	
  	
</beans>