<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

  	<dubbo:application name="dubboDemoService" />
  	<!-- <dubbo:annotation package="cn.tomsnail.test.dubbo.rest.webapi" /> 
    <dubbo:registry address="zk://192.168.169.170:2181"/>
    <dubbo:protocol name="rest"  port="9090" server="tomcat"/>--> 
    
    
    
   	<dubbo:registry id="tdc" protocol="zookeeper" address="192.168.169.170:2181" />
    <dubbo:protocol name="dubbo" port="20881" />


	<dubbo:service ref="dubboDemo0Service" interface="cn.tomsnail.test.dubbo.rest.service.DubboDemo0Service" protocol="dubbo" registry="tdc"/>
	

</beans>
