<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

  	<dubbo:application name="cn.tomsnail.snail.example.core.framework.dubbo" owner="tomsnail" organization="tomsnail" >
  		<dubbo:parameter key="qos.enable" value="false"/>
    	<dubbo:parameter key="qos.accept.foreign.ip" value="false"/>
  	</dubbo:application>
    
   	<dubbo:registry id="zk" protocol="zookeeper" address="127.0.0.1:2181" />
	
	<dubbo:service id="EnterpriseService" interface="cn.tomsnail.snail.example.core.framework.dubbo.DemoService" protocol="dubbo" registry="zk"/>
	
	
	
</beans>