<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:reg="http://www.dangdang.com/schema/ddframe/reg"
    xmlns:job="http://www.dangdang.com/schema/ddframe/job"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.dangdang.com/schema/ddframe/reg
                        http://www.dangdang.com/schema/ddframe/reg/reg.xsd
                        http://www.dangdang.com/schema/ddframe/job
                        http://www.dangdang.com/schema/ddframe/job/job.xsd
                        ">
                        
                        
    <bean id="elasticJobLog" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://mysql.tomsnail.cn:3306/ts-console"/>
        <property name="username" value="tomsnail"/>
        <property name="password" value=""/>
    </bean>
    
    <bean id="elasticJobMQ" class="cn.tomsnail.task.elastic.job.test.EventMQSener" >
      
    </bean>
    <!--配置作业注册中心 -->
    <reg:zookeeper id="regCenter" server-lists="192.168.169.170:2181" namespace="dd-job1" base-sleep-time-milliseconds="1000" max-sleep-time-milliseconds="3000" max-retries="3" />
    
    <!-- 配置作业 event-trace-rdb-data-source="elasticJobLog"-->
    <job:simple id="oneOffElasticJob" job-ref="MyElasticJob" registry-center-ref="regCenter" cron="0/20 * * * * ?" sharding-total-count="1" overwrite="true"  event-trace-mq="elasticJobMQ"/>	
	

</beans>